@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привет @User.Identity.Name!</a>
        <a >
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("List", "News", new { area = "" })">
            <button type="submit" class="btn text-white">Logout</button>
        </form>
        </a>
       
}
else
{
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
}

