@using SuperNews.UsersRoles;
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a asp-area="" asp-controller="News" asp-action="List" id="logo">SuperNews</a></h1>
                    <nav id="nav">
                        <a asp-action="ChatIndex"
                           asp-controller="News"
                           >
                            Общий чат
                        </a>
                                @if (User.IsInRole(AppRoles.Administrator))
                                {
                                       <a 
                                       asp-controller="Admin"
                                       asp-action="Index">
                                            Управление пользователями
                                        </a>
                                }
                                @if (User.IsInRole(AppRoles.Redactor))
                                {
                                <a 
                                       asp-controller="News"
                                       asp-action="Create">
                                            Управление новостями
                                        </a>
                                }
                                @if (User.IsInRole(AppRoles.Moderator))
                                {
                                <a 
                                       asp-controller="@AppRoles.Moderator"
                                       asp-action="Index">
                                            Управление новостями
                                        </a>
                                }
                        <partial name="_LoginPartial" />

                        <div class="float-right">
                            @await Component.InvokeAsync("Bookmarks")
                        </div>
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>